.home--image-carousel-container {
    height: 95vh;
    display: flex;
    flex-direction: column;
    perspective: 900px;
    overflow: hidden;
}

.home--image-carousel--image {
    position: absolute;
    border-radius:  5px;
    width: 100%;
    height: auto;
    background-color: rgb(29, 29, 29);
    transform: rotateY(-50deg) rotateZ(5deg) translateX(calc(-30px * var(--i))) translateZ(calc(50px * var(--i))) translateY(calc(50px * var(--i)));
    box-shadow: 30px 20px 20px 10px rgba(17, 17, 17, 0.151);
}

